
body {
    font-family: 'Karla';
    color: #333;
    font-size: 16px; 
}
  
p { line-height: 1.4em; }

h1, h2 {
    font-family: 'Spartan';
    color: darkslateblue;
}
h1 { font-size: 18px; }
h2 { font-size: 17px; }

section li { margin-left: 60px; }

code {
    font-family: 'Nova mono', monospace;
    font-size: 13px;
    color:darkmagenta;
}

/*Required otherwise user agent stylesheet overrides.*/
pre { font-family: 'Nova mono'; }

nav {
    position: fixed;
    float: left;
    min-width: 210px;
    top: 0px;
    left: 0px;
}

nav li {
    font-family: 'Spartan';
    font-size: 14px;
    list-style: none;
    border-bottom: 1px solid darkgray;
    padding: 10px;
    position: relative;
    left: -30px;
    width: 100%;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: darkgoldenrod;
}

#main-doc {
    margin-left: 200px;
    padding: 20px 40px;
    border-left: 1px solid darkgray;
}

section { padding-top: 20px; }

#credits {
    text-align: center;
    padding-top: 24px;
    margin-top: 24px;
    border-top: 1px solid darkgrey;
}



@media (max-width: 750px) {
    
    nav {
        position: sticky;
        float: none;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
    }
    nav li {
        width: 100px;
        display: inline-block;
        text-transform: uppercase;
        text-align: right;
        vertical-align: middle;
        font-size: 10px;
        border-bottom: 1px solid darkgray;
        border-right: 1px solid darkgray;
    }

    #main-doc {
        margin-left: 0;
        border-left: none;
    }
    /*To allow space for nav bar*/
    section { padding-top: 84px; }
}

/*Notes to self.
1. When navigating to a section, the section title is hidden behind the navbar. Used top padding on
sections to fix, but is there a better way?
2. Used <pre> for tabbing code sections because using position: relative results in code sections
showing under the navbar.
